body {
  background-color: white;
  font-family: 'Arial',sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  margin: auto;
  width: 80%;
}

caption {
  caption-side: top;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.2rem;
}

thead th{
  background-color: red;
  color: black;
  text-align: center;
  padding: 20px;
  border: 3px solid;
}

td {
  border: 3px solid ;
  padding: 12px;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: grey;
}